.morning-radial-gradient {
  background: radial-gradient(circle at 50% 0%, #75ff83 -50%, #2fc9c9, #001336);
}

.afternoon-radial-gradient {
  background: radial-gradient(circle at 50% 0%, #fdc856 -50%, #ff5411, #631400);
}

.night-radial-gradient {
  background: radial-gradient(circle at 50% 0%, #ef44e1 -50%, #a616f9, #1f0031);
}
